a {
  text-decoration: none;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint(large) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

h2 {
  font-family: $bodoni;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 65px;

  @include breakpoint(large) {
    margin-bottom: 60px;
  }
}
