.sign-up {
  h1 {
    font-size: 1.6em;
    margin-bottom: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .col {
    p {
      margin-bottom: 15px;
      span {
        color: $error;
      }
    }
    h2 {
      font-size: 1.1em;
      text-transform: capitalize;
      text-align: left;
      margin-bottom: 25px;
    }
    label {
      display: block;
      margin-bottom: 4px;

      &:not(.no-important)::after {
        content: " *";
        color: $error;
      }
    }
    input {
      border-radius: 0;
      padding: 0 1em;
      height: 48px;
      line-height: 46px;
      border: 1px solid #ccc;
      outline: none;
      transition-property: border, background-color, color;
      transition-duration: 250ms;
      transition-timing-function: ease;
      display: block;
      width: 100%;
      border: 2px solid transparent;

      &.error-input {
        border-color: $error;
      }
    }

    .button {
      text-transform: capitalize;
      display: inline-block;
      cursor: pointer;
      padding: 0 1.5rem;
      font-size: 0.8em;
      text-align: center;
      height: 48px;
      line-height: 42px;
      transition: all 75ms ease;
      border: 2px solid $black;
      color: #fff;
      background-color: $black;
    }
    footer {
      text-align: right;
    }

    .field {
      margin-bottom: 20px;

      .error {
        line-height: 1.15;
        color: $error;
        font-weight: bold;
        margin-top: 5px;
        font-size: 0.9rem;
        display: none;
      }
    }
  }
}
