.about {
  min-height: 900px;
  padding-bottom: 120px;
  @include breakpoint(medium) {
    min-height: 650px;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1110px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 30px;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;
    background-color: $black;
    color: $light;
    padding: 10px;
  }

  &__text {
    max-width: 595px;
    a {
      color: $light;
      font-style: italic;
    }

    p {
      margin-bottom: 10px;
      letter-spacing: 0.5px;
    }
    .blockquote-footer {
      &::before {
        content: "— ";
      }
      @include breakpoint(large) {
        text-align: right;
      }
    }
  }
  &__img {
    // margin-right: 20px;
    max-width: 20rem;

    @include breakpoint(large) {
      max-width: 30rem;
    }
    img {
      width: 100%;
    }
  }
}
