<!DOCTYPE html>
<html lang="en">
  <%- include('../_partials/head') %>
  <body>
    <%- include('../_partials/nav') %>
    <section class="about">
      <div class="container">
        <!-- This part will be generated dynamically when we hook up a database -->
        <div class="about__content">
          <div class="about__img">
            <img src="/img/about-img.jpg" alt="" />
          </div>
          <div class="about__text">
            <h2 class="about__title">ABOUT</h2>
            <figure>
              <blockquote>
                <p>
                  Olabisi Precious (populary known as Bicci) is a walking
                  boatload of talent. Despite his responsibilities as a student
                  of medicine, Bicci finds time to create magic in the form of
                  portrait drawing and painting, as well as landscape drawing.
                </p>
                <p>
                  Bicci credits
                  <a target="_blank" href="https://laynejohnson.com/"
                    >Layne Johnson</a
                  >
                  as his source of inspiration. He also regards his thriving art
                  business as his greatest milestone yet.
                </p>
                <p>
                  Concerning his plans for his art, Bicci's strategy is "Bigger
                  and Better." He is currently working towards creating a
                  private exhibition someday soon.
                </p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <cite title="Source Title">Articine 2022</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <section class="footer">
      <div class="container">
        <div class="row one">
          <div class="col address">
            <p class="line">Contact your tasteful artist:</p>
            <p class="line contact">
              <span>
                <i class="fa-solid fa-palette"></i>
                <a href="mailto: freshpresh57@gmail.com"
                  >freshpresh57@gmail.com</a
                >
              </span>
              <span>
                <i class="fa-solid fa-palette"></i>
                <a href="tel:+2348163048265">08163048265</a>
              </span>
              <span>
                <i class="fa-solid fa-palette"></i>
                <a href="tel:+2349160286100">09160286100</a>
              </span>
            </p>
            <p class="line">Akobo, Ojurin, Ibadan</p>
            <p class="line">Oyo State Nigeria</p>
          </div>
          <div class="col social">
            <i class="fa-solid fa-palette"></i>
            <a
              target="_blank"
              href="https://web.facebook.com/precious.olamide.79"
              class="footer-link"
              >Facebook
            </a>
            <i class="fa-solid fa-palette"></i>
            <a
              target="_blank"
              href="https://www.instagram.com/dabicciofficial/"
              class="footer-link"
              >Instagram
            </a>
            <i class="fa-solid fa-palette"></i>
            <a
              target="_blank"
              href="https://twitter.com/BicciTheDoc"
              class="footer-link"
              >Twitter
            </a>
          </div>
        </div>
        <div class="row two copy">
          <p class="line">Copyright 2022 © BicciArts. All Rights Reserved</p>
        </div>
      </div>
    </section>

    <script src="/app/index.js"></script>
  </body>
</html>
